
        @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mooli&display=swap');

   
label{
    color: white;
    font-family: 'Mooli',sans-serif;
    font-size: 3ch;
}


h1{
    display: block;
    text-align: center;
    height: auto;
    font-family: 'Lobster',sans-serif;
    font-size: 6ch;
}

body{
    background: rgb(251,129,63);
    background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(252,70,70,1) 100%);
}

.container{
    width: 200px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    background-color:#8a0000 ;
}


.container2{
    width: 200px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
    background-color:#8a0000 ;
}



.travail{
    display:block;
    border-radius: 15px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
    font-size: 4ch;
    font-family: 'Mooli',sans-serif;
}

.pause{
    display: block;
    border-radius: 15px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
    font-size: 4ch;
    font-family: 'Mooli',sans-serif;
}

.timer {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:200px;
    background-color: transparent;
    border-style: solid;
    font-family: 'Mooli',sans-serif;
    font-size: 8ch;
    border-width: 5px;
}

.play{
    display: block;
    margin-left:auto;
    margin-right: auto;
    font-size: 5ch;
    border-radius: 5px;
    background-color:#8a0000 ;
    color: white;
    font-family: 'Mooli',sans-serif;
}
.reset{
    display: block;
    margin-left:auto;
    margin-right: auto;
    font-size: 5ch;
    border-radius: 5px;
    background-color:#8a0000 ;
    color: white;
    font-family: 'Mooli',sans-serif;

}